<!-- Requires paginator Page to be provided in context as page_obj -->
<div class="page-navigation">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; </a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a> &nbsp;
    {% else %}
        <span class="text-muted">&laquo; </span>
        <span class="text-muted">Previous</span> &nbsp;
    {% endif %}
    <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        &nbsp;
        <a href="?page={{ page_obj.next_page_number }}">Next</a> 
        <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
    {% else %}
        &nbsp;
        <span class="text-muted">Next</span>
        <span class="text-muted"> &raquo;</span>
    {% endif %}
</div>