<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load static %}
    {% block page_title %}About Us{% endblock %}
    <head>
    </head>
    {% block content %}
    <body>
        <div class="legal">
            <h2>What we are aiming for</h2>

            <p>Welcome to The BookLady, where we're dedicated to nurturing a lifelong love for learning among young minds through an engaging and competitive web application. </p>
                
            <p>Why we are doing this:</p>
            <ul>
                <li>We believe quality education should be accessible to all (aligned with SDG4), and want to make a fun experience for everyone to enjoy.</li>
            </ul>
                
            <p>What you can do:</p>
            <ul>
                <li>Create a personalized account: Create your own profile to track your reading progress.</li>
                <li>Compete with fellow users and friends based on the pages and books you've read.</li>
                <li>Earn milestone badges as you read.</li>
                <li>Add friends, compare points, and engage in friendly competition.</li>
                <li>Compete with your friends to maintain reading streaks.</li>
                <li>Search for books, and leave reviews to help others.</li>
                <li>Explore bestsellers recommended by The New York Times on our Home page.</li>
            </ul>
                
            <p> Get in Touch: Have questions, suggestions, or just want to talk? Reach out to us at +447857007751 or contact@thebookladyng.com. </p>
        </div>
    </body>
    {% endblock content%}
</html>
