<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load static %}
    {% block page_title %}Legal Page{% endblock %}
    <head>
    </head>
    {% block content %}
    <body>
        <div class="legal">
        <h2>GDPR Compliance Statement</h2>

        <p>At The BookLady, we take the protection of personal data seriously and are committed to ensuring compliance with the General Data Protection Regulation (GDPR) and other relevant data protection laws.</p>
            
        <P>Data Storage and Security:
            
            All data collected and handled on our website is stored securely and in compliance with GDPR requirements. We employ industry-standard security measures to safeguard against unauthorized access, disclosure, alteration, or destruction of personal data.</p>
            
        <P>Data Accuracy and Integrity:
            
            We strive to ensure that all data collected on our website is accurate, relevant, and kept up to date. Any inaccuracies or changes to personal data will be promptly corrected upon request.</p>
            
        <P>Lawful Basis for Processing:
            
            We only collect and process personal data when there is a lawful basis to do so, as outlined in the GDPR. This may include the necessity of processing for the performance of a contract, compliance with legal obligations, or the consent of the individual.</p>
            
        <P>Data Subject Rights:
            
            We respect the rights of individuals regarding their personal data as outlined in the GDPR. This includes the right to access, rectify, erase, restrict processing, object to processing, and data portability. We provide mechanisms for individuals to exercise these rights easily and effectively.</p>
            
        <P>Data Breach Response:
            
            In the event of a data breach, we have procedures in place to assess and mitigate the impact of the breach promptly. We will also notify the relevant supervisory authorities and affected individuals as required by GDPR.</p>
            
        <P>Contact Information:
            
            If you have any questions, concerns, or requests regarding our handling of personal data, please contact us at +447857007751 or contact@thebookladyng.com.</p>
        </div>
    </body>
    {% endblock content%}
</html>
