.friend-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 900px;
    top: 200px;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    border: 2px solid black;
}
