.legal{
        width: 70%;
        display: block;
        align-items: center;
        padding: 14px;
        border-radius: 28px;
        background: #f6f6f6;
        border: 2px solid black;
        margin-top: 5%;
        margin-right: 50%;
        margin-left: 15%;
        margin-bottom: 50%;
}