.tables {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 150vh;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.home-table{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 150vh;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.page-navigation {
    align-self: center;
}